*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 46, 46) ;
    min-height: 100vh;
}
h1{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

label{
    position: relative;
    height: 75px;
    width: 150px;
    background: black;
    border-radius: 10px;
}
label input{
    appearance: none;
}

label span{
    position: absolute;
    top:0;
    left: 0;
    height: 75px;
    width: 75px;
    background-color: rgb(57, 46, 46) ;
    border: 6px solid black;
    border-radius: 14px;
    cursor: pointer;

}
label input:checked ~ span
{
    left:75px;
}